section.About#About
    .About-copy
        .About-copyContainer
            h2.About-copyTitle.Title About
            p.About-copyDescription Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, atque aut laudantium voluptatum harum obcaecati ipsa, sunt rem ab.
    .About-info
        h3.About-infoTitle The best one page template
        p.About-infoDescription Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ipsum nam delectus vel cum, eum cupiditate ducimus. Accusantium ipsa molestiae corrupti soluta, veritatis animi, quibusdam sint quam quaerat incidunt assumenda.
        .About-infoFeatures
            .About-infoFeature
                h4.About-infoFeatureTitle Graphic Design
                p.About-infoFeatureNumber 70%
                .About-infoFeatureBottom
            .About-infoFeature
                h4.About-infoFeatureTitle Web design
                p.About-infoFeatureNumber 95%
                .About-infoFeatureBottom
            .About-infoFeature
                h4.About-infoFeatureTitle Web development
                p.About-infoFeatureNumber 90%
                .About-infoFeatureBottom
            .About-infoFeature
                h4.About-infoFeatureTitle Java Scripting
                p.About-infoFeatureNumber 85%
                .About-infoFeatureBottom
