section.Banner
    .Banner-img
        .Banner-navigation
            include ./navigation
        .Banner-copy
            h4.Banner-title Our Philosophy
            h2.Banner-subtitle Increase you
                span productivity
