section.Contact#Contact
    .Contact-copy
        .Contact-copyContainer
            h2.Contact-copyTitle.Title Contact
            p.Contact-copyDescription We wait you with happy time
    .Contact-info
        .Contact-infoContainer
            .Contact-infoFeature
                h5.Contact-infoTitle.icon-address Address
                p.Contact-infoDescription San Pedro Yepocapa
                p.Contact-infoDescription Zona 11, Guatemala
            .Contact-infoFeature
                h5.Contact-infoTitle.icon-phone Phone
                p.Contact-infoDescription (502) 5714 4953
                p.Contact-infoDescription (502) 4744 3173
        .Contact-form
            input.Contact-formName(type="text", placeholder="Name")
            input.Contact-formEmail(type="text" placeholder="Email")
            input.Contact-formSubject(type="text" placeholder="Subject")
            textarea.Contact-formMessage(name="Message", cols="30", rows="5" placeholder="Message")
            input.Contact-formSubmit(type="button", value="Send Message")

