footer.Footer
    .Footer-container
        .Footer-logo
            h2.Menu-logo An
                span ma
        .Footer-page
            a.Footer-pageLink(href="https://alex-chip.github.io/alex-chip") https://alex-chip.github.io/alex-chip
        .Footer-sociales
            a.Footer-socialesLink.icon-facebook(href="#")
            a.Footer-socialesLink.icon-twitter(href="#")
            a.Footer-socialesLink.icon-google-plus(href="#")
            a.Footer-socialesLink.icon-linkedin(href="#")
            a.Footer-socialesLink.icon-instagram(href="#")
