section.News
    .News-container
        .News-copy
            h4.News-copyTitle.Title Get First news
            input.News-copyInputEmail(type="text" placeholder="Your Email Address")
            input.News-copyInputSubmit(type="button", value="Suscribe")
