section.Menu
    .Menu-containerLogo
        h2.Menu-logo An
            span ma
    .Menu-containerMenu
        .Menu-toggle.icon-menu#navId-toggle Menu
        nav.Menu-nav#navId
            ul.Menu-list#menuId
                li.Menu-listItem: a.Menu-listLink(href="#Welcome") Home
                li.Menu-listItem: a.Menu-listLink(href="#About") About
                li.Menu-listItem: a.Menu-listLink(href="#Service") Services
                li.Menu-listItem: a.Menu-listLink(href="#Work") Works
                li.Menu-listItem: a.Menu-listLink(href="#Contact") Contact
