section.Portfolio#Work
    .Portfolio-copy
        .Portfolio-copyContainer
            h2.Porfolio-copyTitle.Title Portfolio
            p.Portfolio-copyDescription Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quod est, quae quam earum ad esse vitae ex consequatur quaerat tenetur illo.
    .Portfolio-project
        .Portfolio-projectContainer
            h4.Portfolio-projectTitle Last Projects
            p.Porftolio-projectDescription Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit qui provident incidunt suscipit modi fugiat quaerat dignissimos iure illum?
            .Portfolio-projectImgs
                img.Portfolio-projectImg(src="./public/img/7.jpg", alt="")
                img.Portfolio-projectImg(src="./public/img/6.jpg", alt="")
                img.Portfolio-projectImg(src="./public/img/5.jpg", alt="")
                img.Portfolio-projectImg(src="./public/img/4.jpg", alt="")
