section.Service#Service
    .Service-copy
        .Service-copyContainer
            h2.Service-copyTitle.Title Services
            p.Service-copyDescription Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ratione molestias temporibus maxime? Dignissimos, consequuntur dolorem.
    .Service-features
        .Service-feature
            h4.Service-featureTitle.icon-laptop Responsive
            p.Service-featureDescription Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .Service-feature
            h4.Service-featureTitle.icon-infinite Unique pages
            p.Service-featureDescription Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .Service-feature
            h4.Service-featureTitle.icon-config Costumizable
            p.Service-featureDescription Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .Service-feature
            h4.Service-featureTitle.icon-comment Comment view
            p.Service-featureDescription Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .Service-feature
            h4.Service-featureTitle.icon-cloud Cloud download
            p.Service-featureDescription Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .Service-feature
            h4.Service-featureTitle.icon-film Html  video
            p.Service-featureDescription Lorem ipsum dolor sit amet consectetur adipisicing elit.
