section.Social
    .Social-container
        .Social-feature
            h3.Social-featureTitle About
            p.Social-featureDescription Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non quo alias saepe ut quam vero, ad voluptatem itaque culpa odio cumque.
        .Social-feature
            h3.Social-featureTitle Information
            p.Social-featureDescription Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non quo alias saepe ut quam vero, ad voluptatem itaque culpa odio cumque.
        .Social-feature
            h3.Social-featureTitle Instagram
            .Social-featureImgs
                img(src="./public/img/1.jpg", alt="")
                img(src="./public/img/2.jpg", alt="")
                img(src="./public/img/3.jpg", alt="")
                img(src="./public/img/4.jpg", alt="")
                img(src="./public/img/5.jpg", alt="")
                img(src="./public/img/6.jpg", alt="")
                img(src="./public/img/7.jpg", alt="")
                img(src="./public/img/banner.jpg", alt="")
        .Social-feature
            h3.Social-featureTitle Twitter
            p.Social-featureDescription Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non quo alias saepe ut quam vero, ad voluptatem itaque culpa odio cumque.
