section.Welcome#Welcome
    .Welcome-container
        .Welcome-copy
            h2.Welcome-title.Title Welcome
            p.Welcome-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolorem quasi natus nisi voluptates consequatur.
