extends ./template/template
block content
    include ./components/banner
    include ./components/welcome
    include ./components/about
    include ./components/service
    include ./components/portfolio
    include ./components/contact
    include ./components/get-news
    include ./components/social-network
    include ./components/footer
